/* Featurettes
------------------------- */

/*.featurette-divider {*/
/*margin: 80px 0 0 0; *//* Space out the Bootstrap <hr> more */
/*}*/

.featurette {
    margin-top: 60px;
    width: 100%;
}

.featurette-black {
    padding-top: 20px;
    /*background: #333;*/
}

.featurette-black .featurette-heading {
    /*color: #fff;*/
}

/* Thin out the marketing headings */
.featurette-heading {
    margin-bottom: 20px;
    font-size: 30px !important;
    font-family: 'Oswald';
    font-weight: 600;
    color: #be252a;
}

/*Block list*/
.featurette .block-list {
    margin: 0 auto;
    padding: 0 0 75px 0;
}

.featurette .block-list .block-item {
    padding: 0;
    border: solid 1px #9d9d9d;
}

.featurette .block-list .block-item .block-caption {
    width: 100%;
    overflow: hidden;
    height: 55px;
    padding-top: 7px;
    background: #ffffff;
}

.featurette .block-list .block-item .block-image {
    position: relative;
    cursor: pointer;
}

.featurette .block-list .block-item .block-image>img {
    width: 100%;
    height: auto;
    border-bottom: solid 1px #b4b4b4;
}

.featurette .block-list .block-item .marker {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.featurette .block-list .block-item .marker>img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px -22px;
}

.featurette .block-list .block-item .block-caption a {
    text-decoration: none;
}

.featurette .block-list .block-item .block-caption .japanese-name {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 19px;
    padding-right: 5px;
    padding-left: 5px;
    display: block;
    margin-top: 2px;
    font-size: 13px;
    color: #be252a;
}

.featurette .block-list .block-item .block-caption h1 {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    overflow: hidden;
    color: #000;
    margin: 0;
}

.featurette .block-list .block-item .block-caption h1:hover {
    color: #9d9d9d;
}

/*Gallery list*/
.featurette .gallery-list {
}

.featurette .gallery-list .gallery-image {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    background: #000;
}

.featurette .gallery-list .gallery-image img {
    width: 100%;
    border: 1px solid #000;
    z-index: 9;
}

.featurette .gallery-list .gallery-image .title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 10;
}

.featurette .gallery-list .gallery-image .title h1 {
    padding: 0;
    margin: 0;
    color: #e4e4e4;
    font-size: 20px;
}

/*Blog list*/
.featurette .blog-list {
    width: 100%;
    margin: 0;
    padding: 0 0 75px 0;
}

.featurette .blog-list {
    position: relative;
}

.featurette .blog-list .blog-item {
    margin-bottom: 10px;
}

.featurette .blog-list .blog-item .blog-thumbnail {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay.news {
    border-top: solid 2px #335cbf;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay {
    font-size: 13px;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay div {
    float: left;
    padding: 2px 8px 5px;
    position: relative;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    z-index: 2;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category {
    border-radius: 0 0 5px;
    margin-right: -4px;
    float: left;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category.news {
    background: #335CBF none repeat scroll 0% 0%;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .comments {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 0 0 5px;
    color: #000;
    position: relative;
    text-indent: 4px;
    z-index: 1;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .comments span i {
    margin-right: 4px;
}

.blog-list .blog-item .blog-content {
    clear: both;
    overflow: hidden;
    background: #d0e0c6;
    padding-bottom: 20px !important;
}

.blog-list .blog-item .blog-content .title {
    ine-height: inherit;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0 15px;
}

.blog-list .blog-item .blog-content .title a {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2475d5;
}

.blog-list .blog-item .blog-content .title a:hover {
    color: #6585d5;
}

.blog-list .blog-item .blog-content .preview {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    padding: 0 15px;
    height: 200px;
}
