/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
        position: fixed;
        background: #080808;
        z-index: 20;
    }

    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 5px;
        background: none;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 150px;
    }
    .navbar-wrapper .navbar .navbar-form input{
        width: 100%;
    }

    /* nav item*/
    .navbar-wrapper .navbar .nav li a{
        font-size: 15px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    #myCarousel{
        margin-top: 55px;
    }

    /*Block list*/
    .featurette .block-list{
        margin-left: 8%;
        margin-right: 8.6%;
    }

    .featurette .block-list .block-item{
        margin-right: 8px;
    }

    .featurette .block-list .block-item .detail {
        display: none;
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .featurette .block-list .block-item .block-image:hover .detail {
        display: block;
    }

    .featurette .block-list .block-item .detail p {
        position: absolute;
        top: 45%;
        text-align: center;
        width: 100%;
        font-size: 18px;
        color: #e4e4e4;
        font-weight: 600;
    }

    .featurette .block-list .block-item .block-caption h1 {
        font-size: 18px;
    }

    /*Gallery list*/
    .featurette .gallery-list{
        border-top: solid 1px #000000;
        border-left: solid 1px #000000;
        padding: 0;
    }

    .featurette .gallery-list .gallery-image{

    }

    .featurette .gallery-list .gallery-image:hover img{
        opacity: 0.7;
    }

    .featurette .gallery-list .gallery-image img{
        border-top: none;
        border-left: none;
    }

    .featurette .gallery-list .gallery-image .title{
        display: none;
    }

    .featurette .gallery-list .gallery-image.col-sm-6 .title h1{
        font-size: 25px;
        padding: 8px 15px;
    }

    .featurette .gallery-list .gallery-image.col-sm-3 .title{
        bottom: 0;
        text-align: center;

    }

    .featurette .gallery-list .gallery-image:hover .title{
        display: block;
    }

    /*Blog list*/
    .featurette .blog-list .blog-item {
        margin-left: 8px;
    }
}

@media (min-width: 992px) {
    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 350px;
    }
    /*block list*/

}

@media (min-width: 1200px) {
    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 550px;
    }
}


/*Mobile mode*/
@media (max-width: 767px) {
    /*button toggle*/
    button.navbar-toggle{
        margin-right: 0;
    }

    #myCarousel .carousel-control{
        display: none;
    }

    /*block list*/
    .block-list .block-item .detail{
        display: none;
    }

    /*Gallery list*/
    .featurette .gallery-list{
        padding: 0;
    }

    .featurette .gallery-list .gallery-image{
        margin-bottom: 5px;
    }

    .featurette .gallery-list .gallery-image .title{
        padding: 5px 12px;
        font-size: 20px !important;
    }
}


