/*Gallery list*/
.featurette .gallery-list {
}

.featurette .gallery-list .gallery-image {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    background: #000;
}

.featurette .gallery-list .gallery-image img {
    width: 100%;
    border: 1px solid #000;
    z-index: 9;
}

.featurette .gallery-list .gallery-image .title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 10;
}

.featurette .gallery-list .gallery-image .title h1 {
    padding: 0;
    margin: 0;
    color: #e4e4e4;
    font-size: 20px;
}