/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    font-family: Century Gothic, sans-serif;
    color: #5a5a5a;
}

body ul {
    list-style: none;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-wrapper .navbar .container .navbar-brand {
    padding: 0;
}

.navbar-wrapper .navbar .nav li a {
    font-weight: 600;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
    background: #080808;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 640px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

/*.featurette-divider {*/
/*margin: 80px 0 0 0; *//* Space out the Bootstrap <hr> more */
/*}*/

.featurette {
    margin-top: 60px;
    width: 100%;
}

.featurette-black {
    padding-top: 20px;
    background: #333;
}

.featurette-black .featurette-heading {
    color: #fff;
}

/* Thin out the marketing headings */
.featurette-heading {
    margin-bottom: 20px;
    font-size: 30px !important;
    font-weight: 600;
}

/*Block list*/
.featurette .block-list {
    margin: 0 auto;
    padding: 0 0 75px 0;
}

.featurette .block-list .block-item {
    margin: 0 0 10px 0;
    padding: 0;
}

.featurette .block-list .block-item .block-caption {
    width: 100%;
    overflow: hidden;
    height: 55px;
    padding-top: 7px;
    background: #ffffff;
}

.featurette .block-list .block-item .block-image {
    position: relative;
    cursor: pointer;
}

.featurette .block-list .block-item .block-image img {
    width: 100%;
    height: auto;
    border-bottom: solid 1px #b4b4b4;
}

.featurette .block-list .block-item .block-caption a {
    text-decoration: none;
}

.featurette .block-list .block-item .block-caption .japanese-name {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 19px;
    padding-right: 5px;
    padding-left: 5px;
    display: block;
    margin-top: 2px;
    font-size: 13px;
    color: #0a8a9d;
}

.featurette .block-list .block-item .block-caption h1 {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    overflow: hidden;
    color: #000;
    margin: 0;
}

.featurette .block-list .block-item .block-caption h1:hover {
    color: #9d9d9d;
}

/*Gallery list*/
.featurette .gallery-list {
}

.featurette .gallery-list .gallery-image {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    background: #000;
}

.featurette .gallery-list .gallery-image img {
    width: 100%;
    border: 1px solid #000;
    z-index: 9;
}

.featurette .gallery-list .gallery-image .title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 10;
}

.featurette .gallery-list .gallery-image .title h1 {
    padding: 0;
    margin: 0;
    color: #e4e4e4;
    font-size: 20px;
}

/*Blog list*/
.featurette .blog-list {
    width: 100%;
    margin: 0;
    padding: 0 0 75px 0;
}

.featurette .blog-list {
    position: relative;
}

.featurette .blog-list .blog-item {
    margin-bottom: 10px;
}

.featurette .blog-list .blog-item .blog-thumbnail {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay.news {
    border-top: solid 2px #335cbf;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay {
    font-size: 13px;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay div {
    float: left;
    padding: 2px 8px 5px;
    position: relative;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    z-index: 2;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category {
    border-radius: 0 0 5px;
    margin-right: -4px;
    float: left;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .category.news {
    background: #335CBF none repeat scroll 0% 0%;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .comments {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 0 0 5px;
    color: #000;
    position: relative;
    text-indent: 4px;
    z-index: 1;
}

.featurette .blog-list .blog-item .blog-thumbnail .over-lay .comments span i {
    margin-right: 4px;
}

.blog-list .blog-item .blog-content {
    clear: both;
    overflow: hidden;
    background: #fff;
    padding-bottom: 20px !important;
}

.blog-list .blog-item .blog-content .title {
    ine-height: inherit;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0 15px;
}

.blog-list .blog-item .blog-content .title a {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2475d5;
}

.blog-list .blog-item .blog-content .title a:hover {
    color: #6585d5;
}

.blog-list .blog-item .blog-content .preview {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    padding: 0 15px;
    height: 200px;
}

/*Footer*/
.footer {
    background: #080808;
    padding: 30px 0;
    color: #9d9d9d;
}

.footer .scroll-up a {
    font-size: 30px;
    color: #9d9d9d;
}

.footer .scroll-up a:hover {
    color: #fff;
}

.footer .f-sns {
    font-family: Socialico;
}

.footer .f-sns li a {
    font-size: 36px;
    color: #9d9d9d;
    text-decoration: none;
}