/* RESPONSIVE CSS
-------------------------------------------------- */
/*Mobile*/
@media (max-width: 767px) {
    /*button toggle*/
    button.navbar-toggle {
        margin-right: 0;
    }

    /*Carousel*/
    #myCarousel .carousel-control {
        display: none;
    }

    /*Page header*/
    .page-header{
        padding: 0 25px;
    }

    .page-header h1{
        text-align: center;
    }
    .page-header .category-list, .page-header .slideshow{
        width: 100%;
    }

    .archive-menu .dropdown-menu{
        width: 100%;
    }

    /*=====================anime list===================*/
    .anime-list .item {
        width: 100%;
        padding: 15px 25px;
    }

    /*=====================gallery-detail===================*/
    .gallery-detail .item{
        width: 100%;
        padding: 15px 25px;
    }

    /*__________________Anime cinema_________________*/
    .anime-cinema{
        padding: 85px 15px 80px;
    }
}

/*Tablet*/
@media (min-width: 768px) {
    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
        position: fixed;
        background: #333;
        z-index: 20;
    }

    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 5px;
        background: none;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 150px;
    }

    .navbar-wrapper .navbar .navbar-form input {
        width: 100%;
    }

    /* nav item*/
    .navbar-wrapper .navbar .nav li a {
        font-size: 15px;
    }

    /*Page header*/
    .page-header .category-list{
        width: 250px;
    }

    .page-header .slideshow{
        width: 310px;
    }

    .archive-menu .dropdown-menu{
        width: 250px;
    }

    /*--------------Init---------------------------------*/
    .anime-list .item, .gallery-detail .item{
        float: left;
    }

    /*=====================anime list===================*/
    .anime-list .item {
        width: 25%;
        padding: 3px;
    }

    .anime-list .item .item-thumbnail:hover .marker {
        display: block;
    }

    /*=====================gallery-detail===================*/
    .gallery-detail .item{
        width: 33.33%;
        padding: 3px;
    }

    /*__________________Anime detail_________________*/
    .anime-detail .col-sm-4{
        padding: 20px 15px 30px 15px;
        display: block;
    }

    /*__________________Anime detail_________________*/
    .anime-detail .col-sm-4{
        padding: 60px 15px;
        display: block;
    }
    .anime-detail .col-sm-4 a{
        height: 45px;
        width: 167px;
    }

    /*__________________Anime cinema_________________*/
    .anime-cinema{
        padding: 105px 0 60px;
    }
}

/*PC*/
@media (min-width: 992px) {
    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 350px;
    }

    /*=====================anime list===================*/
    .anime-list .item {
        width: 20%;
    }

    /*__________________Anime detail_________________*/
    .anime-detail .col-sm-4 a{
        height: 45px;
        width: 250px;
    }

    /*__________________Anime cinema_________________*/
    .anime-cinema{
        padding: 125px 0 80px;
    }
}

/*wide screen*/
@media (min-width: 1200px) {
    /*Search form*/
    .navbar-wrapper .navbar .navbar-form {
        width: 550px;
    }

    /*=====================anime list===================*/
    .anime-list .item {
        width: 20%;
    }

    /*__________________Anime detail_________________*/
    .anime-detail .col-sm-4 a{
        height: 45px;
        width: 250px;
    }

    /*__________________Anime cinema_________________*/
    .anime-cinema{
        padding: 155px 0 100px;
    }
}